In [4]:
%load_ext sql
%sql sqlite://
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
%%sql
INSERT INTO weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);
%%sql
SELECT * FROM weather
%%sql 
SELECT w.id FROM weather w 
JOIN Weather w1 ON date(w.recordDate, '-1 day') = w1.recordDate 
WHERE w.temperature > w1.temperature;

SyntaxError: invalid syntax (90111841.py, line 4)